h1{
   border: 3px solid green;
}
.redb {
    border: 3px solid red;
    padding:2em;
    color: red;
    margin-top: 1em
}
.epic {
    border: 4px dashed blue;
    color: blue;
    padding: 1em;
}
.gubb {
    border: 2px dashed green;
    
}
li {
    border: 3px dashed green;
    padding: 1em;
    margin-top: .5em;
}
.inline li{
    display: inline;
    border: 3px dashed blue;
    margin: 1em;
}
.inlineblock li{
    display: inline-block;
    border: 3px dashed red;
    margin: 1em;
}
*  {
       box-sizing: border-box
}
body {
margin: 1em auto;
padding: 1em;
border: 1px solid;
max-width: 50em;
}
.bigL{
    float: left;
    font-size: 4em
}
.box{
    float: left;
    width: 50%;
    padding: 1em;
    border: 1px solid;
}
.imgR{
    float: right;
    width: 12em;
    padding: left 0.5em;
}
.group::before,  .group::after {
    content: "";
    display: table;
}
.group {
    clear:both;
}
.textinid {
    text-align: center;
    border: 1px solid;   
}
*  {
    box-sizing: border-box
}
body {
margin: 1em auto;
padding: 1em;
border: 1px solid;
max-width: 50em;
}
.bigL{
 float: left;
 font-size: 4em
}
.box{
 float: left;
 width: 50%;
 padding: 1em;
 border: 1px solid;
}
.imgR{
 float: right;
 width: 12em;
 padding: left 0.5em;
}
.group::before,  .group::after {
 content: "";
 display: table;
}
.group {
 clear:both;
}
.textinid {
 text-align: center;
 border: 1px solid;   
}
